<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.luminar.lmnr</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>documentbundle</string>
	<key>CFBundlePackageType</key>
	<string>LMNR</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.2</string>
	<key>CFBundleVersion</key>
	<string>5560</string>
	<key>MPHistoryDict</key>
	<dict>
		<key>cachedTexturesBookmarksDict</key>
		<dict>
			<key>/Users/seppe/Dropbox/My Mac (Mac-Stef.local)/Desktop/photos/DSCF1199.jpeg</key>
			<data>
			Ym9va0QDAAAAAAQQMAAAAO2MHx2+cphOYvP8W701xyYInPfF0FQs
			jP+AhRfEBAg/QAIAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAAFAAAAAQEAAHNlcHBlAAAABwAAAAEBAABEcm9wYm94ABcAAAAB
			AQAATXkgTWFjIChNYWMtU3RlZi5sb2NhbCkABwAAAAEBAABEZXNr
			dG9wAAYAAAABAQAAcGhvdG9zAAANAAAAAQEAAERTQ0YxMTk5Lmpw
			ZWcAAAAcAAAAAQYAABAAAAAgAAAAMAAAAEAAAABgAAAAcAAAAIAA
			AAAIAAAABAMAAOvSCQAAAAAACAAAAAQDAAAqcQoAAAAAAAgAAAAE
			AwAAP1oNAAAAAAAIAAAABAMAAJlZFAMAAAAACAAAAAQDAACkWRQD
			AAAAAAgAAAAEAwAAO4w+AwAAAAAIAAAABAMAACyNPgMAAAAAHAAA
			AAEGAAC8AAAAzAAAANwAAADsAAAA/AAAAAwBAAAcAQAACAAAAAAE
			AABBwpkAt4AAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
			AAAACAAAAAQDAAAFAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAA
			ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAMDs
			s28AAAAIAAAAAAQAAEHB/bDuKoBDJAAAAAEBAABDNjI2NkY5QS1C
			NzNGLTMyRTItQjU5Mi03NjVENUQ2RjIyMTcYAAAAAQIAAIEAAAAB
			AAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
			zAAAAP7///8BAAAAAAAAABAAAAAEEAAAmAAAAAAAAAAFEAAALAEA
			AAAAAAAQEAAAYAEAAAAAAABAEAAAUAEAAAAAAAACIAAALAIAAAAA
			AAAFIAAAnAEAAAAAAAAQIAAArAEAAAAAAAARIAAA4AEAAAAAAAAS
			IAAAwAEAAAAAAAATIAAA0AEAAAAAAAAgIAAADAIAAAAAAAAwIAAA
			OAIAAAAAAAABwAAAgAEAAAAAAAARwAAAIAAAAAAAAAASwAAAkAEA
			AAAAAAAQ0AAABAAAAAAAAAA=
			</data>
		</dict>
		<key>cachedTexturesDict</key>
		<dict>
			<key>/Users/seppe/Dropbox/My Mac (Mac-Stef.local)/Desktop/photos/DSCF1199.jpeg</key>
			<string>51273E53-0A1D-4D24-8DED-CB753D896A85.jpeg</string>
		</dict>
		<key>currentLevelOfHistory</key>
		<integer>29</integer>
		<key>historyDicts</key>
		<array>
			<dict>
				<key>actionName</key>
				<string>Crop: Apply</string>
				<key>hash</key>
				<string>1e7d55b853443d306fc8a1c2f1bf613d:0</string>
				<key>uuid</key>
				<string>816CFB2A-1194-4F44-80EB-502531904C0B</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Develop: Highlights</string>
				<key>additionalInfo</key>
				<string>-10</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>1e7d55b853443d306fc8a1c2f1bf613d:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>3D0A20B7-B1A0-4558-B1E8-FAC9BBC9EF32</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Develop: Highlights</string>
				<key>additionalInfo</key>
				<string>0</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>25d90f8ffd920309c2e8d9975480b360:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>D7D438D4-2483-4529-8B82-A80699896EE8</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Develop: Shadows</string>
				<key>additionalInfo</key>
				<string>+34</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>1e7d55b853443d306fc8a1c2f1bf613d:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>8259A58A-FA44-46CA-9B02-34C1B36A0BF3</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Develop: Whites</string>
				<key>additionalInfo</key>
				<string>-20</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>f510bad567700e3962ab4c10b0d26af5:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>DEA4B6CA-EDCB-4739-9504-CF3E3C955ED4</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Develop: Blacks</string>
				<key>additionalInfo</key>
				<string>+9</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>ba978625fa31f24807580d9ced62ec45:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>96378756-C290-45C6-81E5-7A6706E3CFCC</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Develop: Clarity</string>
				<key>additionalInfo</key>
				<string>+12</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>4a8aa1d227c1c50ea1e6d0b61c353f82:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>4BBD8B56-E789-460B-9FED-0D31E7025D2F</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Accent AI Filter™: Boost</string>
				<key>additionalInfo</key>
				<string>+41</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>0c84402deb8c5cc02591c88d8e07b7e4:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>AE273EAC-BF44-4E8E-B784-DE63A18D3472</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Develop: Temperature</string>
				<key>additionalInfo</key>
				<string>+7</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>18bf5ae7f83e090272f1f5078854650c:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>BED9590E-65B2-42D9-AB63-272FF313AECA</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Structure: Amount</string>
				<key>additionalInfo</key>
				<string>+32</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>e0e984e74cc9cfd10f51f84dc22254db:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>4F7BAAF6-6445-4DFD-A075-B79CFC266CA8</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Structure: Amount</string>
				<key>additionalInfo</key>
				<string>0</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>219c1fc5b7198f614d32d865bb569b04:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>0A4272A5-7E7B-4B1D-ACD0-63E4391C10CF</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Structure: Amount</string>
				<key>additionalInfo</key>
				<string>0</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>e0e984e74cc9cfd10f51f84dc22254db:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>B6DBE726-4FB4-40F8-A34E-7BA0F05A18A9</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Structure: Amount</string>
				<key>additionalInfo</key>
				<string>0</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>e5a0162668f378811408da68120fb662:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>DA7A7DE9-BB33-482E-87F8-1C61BAF5DE30</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Structure: Amount</string>
				<key>additionalInfo</key>
				<string>+0</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>e0e984e74cc9cfd10f51f84dc22254db:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>D5AEE911-BDF6-435D-B95A-3D78C4905DB0</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Structure: Softness</string>
				<key>additionalInfo</key>
				<string>0</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>e48877ecf2d72b5947868f140ae28f8b:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>2A1620D1-B31E-40D3-B28D-424FEF3DFA92</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Structure: Softness</string>
				<key>additionalInfo</key>
				<string>+31</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>84324884f28268ae9916f33f797d7add:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>699035BC-E904-44AA-8AF5-F13D8CC0B954</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Structure: Softness</string>
				<key>additionalInfo</key>
				<string>0</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>99fac512a8d9a87fad400446c8504225:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>50E15249-4392-49F8-ADD7-DC93CA4EDCFF</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Structure: Softness</string>
				<key>additionalInfo</key>
				<string>+33</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>84324884f28268ae9916f33f797d7add:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>4AF78D4E-3945-4865-8A4F-2EE266B5C390</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Structure: Softness</string>
				<key>additionalInfo</key>
				<string>+50</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>140e9730c000e00894c258c7d955dd6f:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>DECB1705-6169-4FE5-BD4C-CED8288DA178</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Structure: Softness</string>
				<key>additionalInfo</key>
				<string>+100</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>e48877ecf2d72b5947868f140ae28f8b:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>B0266B59-1C5E-4662-A08D-2F6EDC606ED0</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Structure: Softness</string>
				<key>additionalInfo</key>
				<string>+50</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>ceda3ee55c55b9ea96bb8b6979fd8bc1:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>5E74C222-A3AB-4C9F-A7A8-537EFE2E5AD1</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Structure: Boost</string>
				<key>additionalInfo</key>
				<string>+9</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>e48877ecf2d72b5947868f140ae28f8b:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>03CBC848-7776-4710-8185-A023FFA4D4EC</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Structure: Boost</string>
				<key>additionalInfo</key>
				<string>+100</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>a526ab08be4fcf45f0f2007560ff3c2b:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>451E4871-33AE-4632-814D-0429017C7C6F</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Structure: Boost</string>
				<key>additionalInfo</key>
				<string>+50</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>20d3837a30857769c5225ce81ef37737:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>B94079BF-081E-47C3-BF7F-EF5ACD57BB93</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Structure: Amount</string>
				<key>additionalInfo</key>
				<string>+71</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>e48877ecf2d72b5947868f140ae28f8b:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>4B83B822-40BF-42BD-B586-F01DB5D7A69D</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Structure: Boost</string>
				<key>additionalInfo</key>
				<string>+46</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>eaa6e7a8398e95c812207548ab38e410:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>BD73D815-4A16-421A-B5C0-6461C762DBEA</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Structure: Softness</string>
				<key>additionalInfo</key>
				<string>+100</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>f2bd158befffdc988869a1c4ca1bed11:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>123E3C12-71F3-4F91-99F7-2970163379FE</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Structure: Boost</string>
				<key>additionalInfo</key>
				<string>+42</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>8e9cf5039872870127e83f7f7a4979bf:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>ED240153-F267-4E23-B86F-45E1764B5994</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Structure: Amount</string>
				<key>additionalInfo</key>
				<string>+3</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>98e165e0d1b27523c55ddfec640542d7:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>3013A369-3374-4D29-9DEC-487F233939E9</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Structure: Boost</string>
				<key>additionalInfo</key>
				<string>+84</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>ee8c9a0cd6c361920087a24b6be471ea:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>C7D09664-6916-43E5-B83B-24E72D5375DE</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Structure: Softness</string>
				<key>additionalInfo</key>
				<string>0</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>4a72e36a7f4314c88299121f5329eff6:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>3162463E-029B-48B4-9AB8-C604B7E551BD</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Structure: Softness</string>
				<key>additionalInfo</key>
				<string>+15</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>3dd8381d8eed023ef2f82c2b16f60a53:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>0FA722DD-9866-47B7-B041-2FFAE99C5F3D</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Structure: Softness</string>
				<key>additionalInfo</key>
				<string>+100</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>27087b7317d070365b65be41be3da77a:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>9C0A629E-C2C3-4DDB-BA74-F00136B03DB6</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>Structure: Amount</string>
				<key>additionalInfo</key>
				<string>+15</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>4a72e36a7f4314c88299121f5329eff6:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>E50D767F-1A63-4981-A158-A11F8CC4DFDE</string>
			</dict>
			<dict>
				<key>actionName</key>
				<string>--FORCE SAVE--</string>
				<key>cropInfo</key>
				<dict>
					<key>aspectRatioHeight</key>
					<real>50</real>
					<key>aspectRatioWidht</key>
					<real>75</real>
					<key>cropRectHeight</key>
					<real>3027</real>
					<key>cropRectWidht</key>
					<real>4540</real>
					<key>cropRectX</key>
					<real>323</real>
					<key>cropRectY</key>
					<real>366</real>
					<key>guidesType</key>
					<integer>0</integer>
					<key>imageSizeHeight</key>
					<real>4000</real>
					<key>imageSizeWidht</key>
					<real>6000</real>
					<key>rotation</key>
					<real>0.0</real>
				</dict>
				<key>hash</key>
				<string>7497856841f3bad15c95e7f374420dbf:0:73fca238524546e08540cde362535dd4</string>
				<key>uuid</key>
				<string>CEC3F300-C400-4AB4-BB99-2D44427E0F06</string>
			</dict>
		</array>
	</dict>
	<key>MPMainBundleIdentifier</key>
	<string>com.macphun.luminar2018mas</string>
	<key>MPOriginalImagePath</key>
	<string>/Users/seppe/Dropbox/My Mac (Mac-Stef.local)/Desktop/photos/DSCF1199.jpeg</string>
	<key>MPQuickLookThumbnailSize</key>
	<string>{1700, 1133}</string>
	<key>MPSaveHistoryToDocument</key>
	<true/>
	<key>MPdeleteOrigResources</key>
	<false/>
</dict>
</plist>
